:root {
  --font-size: 14;
  --font-size-hints: 12;
  --font-size-url: 12;

  --font-weight: normal;
  --font-weight-medium: medium;
  --font-weight-bold: bold;

  --font: "Helvetica Neue", "Helvetica", "Arial", sans-serif; /* Font used in the UI */

  --padding: 2px;
  --padding-vomnibar: 15px;
  --shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.25);
  --blur: 40px;

  /* -------- VOMNIBAR & HUD -------- */
  --fg: #ffffff;
  --fg-dark: #c9c9c9;
  --fg-url: #84bffa;
  --fg-match: #2165d9;

  --bg: rgba(30, 30, 30, 0.8);
  --bg-selected: rgba(150, 150, 150, 0.3);

  --border: #464646;

  /* -------- HINTS -------- */
  --fg-hints: #ffd752; /* Text color of link hints, (don't forget to change `#vimiumHintMarkerContainer div > .matchingCharacter ~ span`) */
}

/* --------------------------------- CSS --------------------------------- */

/* -------- HINTS -------- */
#vimiumHintMarkerContainer div.internalVimiumHintMarker,
#vimiumHintMarkerContainer div.vimiumHintMarker {
  background: var(--bg);
  border: 1px solid var(--border);
  backdrop-filter: blur(10px);
  box-shadow: var(--shadow);
  padding: 3px 4px;
}

#vimiumHintMarkerContainer div span {
  color: var(--fg-hints);
  font-family: var(--font);
  font-size: var(--font-size-hints);
  font-weight: var(--font-weight-bold);
  text-shadow: none;
}

#vimiumHintMarkerContainer div > .matchingCharacter {
  opacity: 0.3;
}

#vimiumHintMarkerContainer div > .matchingCharacter ~ span {
  color: var(--fg-hints);
}

/* -------- VOMNIBAR -------- */
#vomnibar {
  background: var(--bg);
  backdrop-filter: blur(var(--blur));
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: 15px;
  overflow: hidden;
  left: 50%;
  margin-left: -400px;
  max-width: 800px;
}

#vomnibar .vomnibarSearchArea,
#vomnibar input {
  background: transparent;
  border: none;
  box-shadow: none;
  color: var(--fg);
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

#vomnibar .vomnibarSearchArea {
  padding: 8px 15px;
  border-radius: 6px;
}

#vomnibar input {
  border: none;
  padding: var(--padding);
}

.vomnibarNoInsertText {
  display: none;
}

#vomnibar ul {
  background: transparent;
  border-top: 1px solid var(--border);
  margin: 0;
  padding: var(--padding-vomnibar);
}

#vomnibar li {
  border-bottom: none;
  padding: 15px;
}

#vomnibar li .vomnibarTopHalf {
  padding: var(--padding);
}

#vomnibar li .vomnibarBottomHalf {
  padding-top: 0px;
  padding-bottom: 1px;
}

#vomnibar li .vomnibarSource {
  color: var(--fg-dark);
  font-family: var(--font);
  font-size: 12;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase; /* `.vomnibarSource` will be in all uppercase letters. Delete to revert to original */
}

#vomnibar li em,
#vomnibar li .vomnibarTitle {
  color: var(--fg);
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: var(--font-weight-medium);
}

#vomnibar li .vomnibarUrl {
  color: var(--fg-url);
  font-family: var(--font);
  font-size: var(--font-size-url);
  font-weight: var(--font-weight-medium);
}

#vomnibar li .vomnibarMatch {
  color: var(--fg-match);
  font-weight: normal;
}

#vomnibar li .vomnibarTitle .vomnibarMatch {
  color: var(--fg);
  font-weight: bold;
}

#vomnibar li.vomnibarSelected {
  background-color: var(--bg-selected);
  backdrop-filter: blur(20px);
  border-radius: 8px;
}

#vomnibar li.vomnibarSelected .vomnibarUrl {
  /* Changes '.vomnibarURL' to '--fg-match' when selected */
  color: var(--fg-url);
}

#vomnibar li.vomnibarSelected .vomnibarMatch {
  /* Changes '.vomnibarMatch' to '--fg' when selected */
  color: var(--fg);
}

/* -------- HUD -------- */
div.vimiumHUD {
  background: var(--bg);
  backdrop-filter: blur(20px);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: 6px;
}

div.vimiumHUD span#hud-find-input,
div.vimiumHUD .vimiumHUDSearchAreaInner {
  color: var(--fg);
  font-family: var(--font);
  font-size: 13;
  font-weight: var(--font-weight-medium);
}

div.vimiumHUD .hud-find {
  background-color: transparent;
  border: none;
}

div.vimiumHUD .vimiumHUDSearchArea {
  background-color: transparent;
  padding: 6px;
}

/* -------- HELP DIALOG -------- */
div#vimiumHelpDialogContainer {
  background-color: transparent !important;
  border: none !important;
}

div#vimiumHelpDialog {
  background: var(--bg);
  backdrop-filter: blur(var(--blur));
  border: 1px solid var(--border);
  border-radius: 15px;
  font-family: var(--font);
  font-size: var(--font-size);
  padding: 15px 10px !important;
}

span#vimiumTitle {
  color: var(--fg);
}

a:link.vimiumHelDialogLink,
a:visited.vimiumHelDialogLink,
a:hover.vimiumHelDialogLink,
a:active.vimiumHelDialogLink,
a#toggleAdvancedCommands {
  color: var(--fg-url);
  font-family: var(--font);
  font-size: var(--font-size);
}

span.vimiumHelpDialogKey {
  background-color: var(--bg-hints);
  border: 1px solid var(--border-hints);
  box-shadow: var(--shadow);
  padding: 2px 3px;
  color: var(--fg-hints);
  font-family: var(--font);
  font-size: var(--font-size-hints);
  font-weight: var(--font-weight-bold);
  text-shadow: none;
}

td.vimiumHelpSectionTitle,
td.vimiumHelpDescription {
  color: var(--fg);
  font-family: var(--font);
}

div.vimiumColumn {
  color: var(--fg);
  font-family: var(--font);
}
